<mat-card>
  <mat-card-title> Log In</mat-card-title>
  <div class="example-container">
    <mat-form-field>
      <mat-label>Enter your User Name</mat-label>
      <input matInput [(ngModel)]="userName" >
    </mat-form-field>
    <br>
    <br>
    <mat-form-field >
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="onLoginClick()">Login</button>
    <button mat-raised-button color="primary" (click)="onCancelClick()" style="margin-left: 30px;">Cancel</button>
  </div>
</mat-card>